/*mobile design*/
/*width 375px*/
/*TODO 
   use naming conventions (BEM)
  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
}


.wrapper{
    overflow: hidden;
    /* text-align: center; */
}

.section-1{
    display: flex;
    flex-direction: column;
}

header{
    color: black;
    display: flex;
}

.icon-wrapper{
    margin: 0;
    padding: 0;
}

.icon{
    padding: .2em;
}

.btn-wrapper{
    /* margin-bottom: 30%; */
    /* padding: 2em 0 0 10em; */
    /* text-align: right; */

}

.btn{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* font-size: .6em; */
    /* font-size: 1rem; */
    border-radius: 20px;
    color: hsl(321, 100%, 78%);
    border: hsl(321, 100%, 78%) solid 2px;
    /* padding: 4% 15%; */
    padding: 5% 30%;
    background-color: transparent;
    letter-spacing: .1em;
}

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 75%;
}

.info{
    margin: 5% 4% 0 10%;
    text-indent: 8px;
    font-family: 'Open Sans';
}

.call-to-action{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:hsl(322, 100%, 66%)solid 2px;
    border-radius: 20px;
    margin: 10% 40%;
    padding: 2% 6%;
}

.screen-mockups{
    margin-top: 20%;
    width: min(85%, 100%);
}

.communities-messages{
    text-align: center;
    padding-top: 30%;
}

.communities--icon{
    padding-right: 9rem;
}

.communities--h1{
    font-size: 4.5rem;
    font-family: 'Open Sans';
    font-weight: 900;
}

.communities--p{
    letter-spacing: .1rem;
    font-family: 'Open Sans';
    font-weight: 400;
}

.messages{
    margin: 20% 30% 0 5%;
    text-align: center;
}

.messages--icon{
    padding-right: 5rem;
}

.messages--h1{
    font-size: 4.5rem;
    font-family: 'Open Sans';
    font-weight: 900;
}

.messages--p{
    letter-spacing: .2rem;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: center;
}

.div--grow-together{
    background-color: hsl(207, 100%, 98%);
} 

.center-svg{
    max-width: 100%;
    padding: 10%;
}

.heading--grow{
    background-color:hsl(207, 100%, 98%);
    margin: 20% 20% 5% 30%;
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 700;
}

.p--grow-together{
    background-color: hsl(207, 100%, 98%);
    margin: 2% 5% 40% 7%;
    text-indent: 5px;
    font-size: .9rem;
    font-family: 'Open Sans';
}

.heading-flowing{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 900;
    padding-top: 10%;
}

.p--flowing{
    font-family: 'Open Sans';
    font-size: .9rem;
    padding: 8%;
    background-color: #fff;
    padding-bottom: 40%;
}

.wave-top{
    width: 100%;
    background-color: transparent;
}

.heading--your-users{
    margin: 20% 25% 5% 20%;
}

.wave-bottom{
    width: 100%;
    background-color: transparent;
}

.users{
    background-color:hsl(207, 100%, 98%);
}

.p--your-users{
    font-family: 'Open Sans';
    padding-left: 4%;
    padding-bottom: 10%;
}

.wave{
    width: 100%;
    background-color: #fff;
    color: hsl(207, 100%, 98%);
    display: block;
}

.heading--build{
    padding: 10%;
    text-align: center;
    padding-top: 30%;
}

.call-to-action-bottom{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:hsl(322, 100%, 66%)solid 2px;
    border-radius: 20px;
    margin: 0 20% 80% 20%;
    padding: 2% 10%;
}

.wave--footer{
    width: 100%;
    display: block;
    margin: 0;
}

.newsletter{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
}

#newsletter--h2{
    color: white;
    font-size: 26px;
    padding: 20% 40% 2% 6%;
    font-family: 'Poppins';
}

.newsletter--p{
    background: hsl(192, 100%, 9%);
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 6%;
}

#button--email{
    margin: 5% 30% 0 5%;
    height: 50px;
    width: 86%;
    border-radius: 10px;
    border: none;
}

.subscribe{
    background:hsl(322, 100%, 66%);
    color: white;
    padding: 3% 10%;
    margin: 5% 20% 30% 47%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.company-info-contact{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
}
.footer--icon{
    fill: white;
    background: hsl(192, 100%, 9%);
    margin-left: 6%;
    width: 50%;
}

.p--footer{
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 5%;
}

.contact{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
    margin-top: 0;
}

.phone{
    background:hsl(192, 100%, 9%);
    padding: 5% 30% 5% 2%;
    font-family: 'Open Sans';
}

.phone-icon{
    background:hsl(192, 100%, 9%);
    padding: 0 8% 0 5%;
}

.email{
    padding: 1% 5% 10% 1%;
    font-family: 'Open Sans';
}

.email-icon{
    background: hsl(192, 100%, 9%);
    padding: 0 5%;
}

.md{
    font-size: 2rem;
    padding-left: 4%;
    padding-bottom: 10%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media (min-width: 500px){

   

    .communities-messages{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-basis: 100%;
    }

    .communities{
        flex: 50%;
    }

    .messages{
        flex: 50%;
    }

    .div--grow-together{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    .center-svg{
        max-width: 70%;
    }

    .heading--grow{
        margin: 0;
    }

    .p--grow-together{
        margin: 0;
    }

    .users{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }
   
}