/*mobile design*/
/*width 375px*/
/*TODO 
   clean up css
   use naming conventions (BEM)
  */

  :root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-dark: hsl(192, 100%, 9%);
    --neutral-pale: hsl(207, 100%, 98%);
    --headings: 900;
    --headings-ff: 'Poppins Bold', sans-serif;
    --body-ff: 'Open Sans', serif;
    --body-weight-400: 400;
    --body-weight-600: 600;
    --body-weight-700: 700;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--headings-ff);
    font-weight: var(--headings);
    padding: .5em;
}

p {
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400);
    padding:  3em 1em;
}

body {
    position: absolute;
    text-align: center; 
}

img {
    max-width: 100%;
    /* padding: 2em; */
    padding: 4rem 2em 10rem 2em;
}

.icon {
    margin: 0;
    padding: 0;
    margin-right: 33%;
    max-width: 10%;
}


header {
    color: black;
    display: flex;
    flex-direction: row;
    padding-bottom: 20%;
}

.icon-wrapper {
    flex: 50%;
}

.btn-wrapper {
    flex: 50%;
}

.btn {
    background-color: var(--primary-pink);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 1.2em 3em;
    font-family: var(--body-ff);
    font-weight: var(--body-weight-600);
    letter-spacing: 2px;
    /* box-shadow: 2px 8px 10px var(--neutral-pale); check this on good monitor */
    box-shadow: 2px 8px 10px lightgrey;
}

.header-button {
     font-family: var(--body-ff);
    font-weight: 400;
    color: var(--primary-pink);
    border: .1rem solid var(--primary-light-pink);
    border-radius: 4rem;
    padding: .2rem .9rem;
}
/* 
.div--grow-together{
    background-color: hsl(207, 100%, 98%);
} 


.heading--grow{
    background-color:hsl(207, 100%, 98%);
    margin: 20% 20% 5% 30%;
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 700;
}

.p--grow-together{
    background-color: hsl(207, 100%, 98%);
    margin: 2% 5% 40% 7%;
    text-indent: 5px;
    font-size: .9rem;
    font-family: 'Open Sans';
}

.heading-flowing{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 900;
    padding-top: 10%;
}

.p--flowing{
    font-family: 'Open Sans';
    font-size: .9rem;
    padding: 8%;
    background-color: #fff;
    padding-bottom: 40%;
}

.wave-top{
    width: 100%;
    background-color: transparent;
}

.heading--your-users{
    margin: 20% 25% 5% 20%;
}

.wave-bottom{
    width: 100%;
    background-color: transparent;
}

.users{
    background-color:hsl(207, 100%, 98%);
}

.p--your-users{
    font-family: 'Open Sans';
    padding-left: 4%;
    padding-bottom: 10%;
}

.wave{
    width: 100%;
    background-color: #fff;
    color: hsl(207, 100%, 98%);
    display: block;
}

.heading--build{
    padding: 10%;
    text-align: center;
    padding-top: 30%;
}

.call-to-action-bottom{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:hsl(322, 100%, 66%)solid 2px;
    border-radius: 20px;
    margin: 0 20% 80% 20%;
    padding: 2% 10%;
}

.wave--footer{
    width: 100%;
    display: block;
    margin: 0;
}

.newsletter{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
}

#newsletter--h2{
    color: white;
    font-size: 26px;
    padding: 20% 40% 2% 6%;
    font-family: 'Poppins';
}

.newsletter--p{
    background: hsl(192, 100%, 9%);
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 6%;
}

#button--email{
    margin: 5% 30% 0 5%;
    height: 50px;
    width: 86%;
    border-radius: 10px;
    border: none;
}

.subscribe{
    background:hsl(322, 100%, 66%);
    color: white;
    padding: 3% 10%;
    margin: 5% 20% 30% 47%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.company-info-contact{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
}
.footer--icon{
    fill: white;
    background: hsl(192, 100%, 9%);
    margin-left: 6%;
    width: 50%;
}

.p--footer{
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 5%;
}

.contact{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
    margin-top: 0;
}

.phone{
    background:hsl(192, 100%, 9%);
    padding: 5% 30% 5% 2%;
    font-family: 'Open Sans';
}

.phone-icon{
    background:hsl(192, 100%, 9%);
    padding: 0 8% 0 5%;
}

.email{
    padding: 1% 5% 10% 1%;
    font-family: 'Open Sans';
}

.email-icon{
    background: hsl(192, 100%, 9%);
    padding: 0 5%;
}

 */

.div--center-info {
    text-indent: 8px;
    font-family: var(--body-ff);
    padding-bottom: 20%;
}

.section--stats {

}

.div--icon-comunities {

}

.div--text-stats {
    margin: 0;
    padding: 0;
}

.div--icon-messages {

}

.h2--bold-numbers {
    font-size: 4em;
    padding: 0;
    font-family: var(--body-ff);
    font-weight: var(--headings);
}

.p--text-stats {
    padding: .5em 0 8rem 0;
    font-family: var(--body-ff);
    font-weight: 200;
}

.section--grow {

}

.div--illustration-grow {

}

.div--text-grow {

}

.section--flowing {

}

.div--illustration-flowing {

}

.div--text-flowing {

}

.section--users {

}

.div--illustration-users {

}

.div--text-users {

}

.footer--info {

}

.section--newsletter {

}

.div--newsletter-info {

}

.div--input-subscribe {

}

.section--footer-logo {

}

.div--img-logo {

}

.div--text-logo {

}

.div--text-contact {

}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}

/* @media (min-width: 500px){

  
    .communities-messages{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-basis: 100%;
    }

    .communities{
        flex: 50%;
    }

    .messages{
        flex: 50%;
    }

    .div--grow-together{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    .center-svg{
        max-width: 70%;
    }

    .heading--grow{
        margin: 0;
    }

    .p--grow-together{
        margin: 0;
    }

    .users{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }
   
} */

@media (min-width: 500px) {

    .section--stats {
        display: flex;
    }

    .section--grow {
        display: flex;
    }

    .section--flowing {
        display: flex;
    }

    .section--users {
        display: flex;
    }

}