/*mobile design*/
/*width 375px*/
/*TODO 
   think about using sass 
   clean up css
   use naming conventions (BEM)
   fix bg colors to match with waves
   break css up into components!!!
  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 35%;
    border: 2px solid black;
    background-color: lightgray;
}

#btn-wrapper{
    flex: 50%;
}

.icon{
    margin: 20% 0 20% 15%;
    width: 80%;
}

#icon-wrapper{
    flex: 50%;
}

header{
    color: black;
    display: flex;
    flex-direction: row;
    margin-right: 40%;
}

.btn{
    border-radius: 20px;
    margin: 15% 0 20% 140%;
    color: hsl(322, 100%, 66%);
    border: hsl(322, 100%, 66%) solid 2px;
    padding: 5% 20%;
}

.info{
    margin: 5% 12% 0 14%;
    text-indent: 8px;
    font-size: 18px;
    font-family: 'Open Sans';
}

.heading{
    margin: 20% 15% 0 15%;
    font-family: Poppins;
    font-weight: 700;/* fix the weight on the headings*/
}

p{
    margin: 2% 2%;
}

.call-to-action{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:hsl(322, 100%, 66%)solid 2px;
    border-radius: 20px;
    margin: 10% 40%;
    padding: 2% 6%;
}

.screen-mockups{
    display: block;
    margin: 10% auto 20% auto;
    width: 80%;
}

.communities--icon{
    margin: 0 36% 2% 0;
}

.communities{
    margin: 0 30% 5% 0;
}

.communities--h1{
    margin: 0 30% 5% 30%;
    font-size: 80px;
    letter-spacing: 4px;
    font-family: Open Sans;
    font-weight: 900;
}

.communities--p{
    margin: 0 33% 5% 33%;
    min-width: 100%;
}

.messages{
    margin: 20% 30% 0 5%;
}

.messages--icon{
    margin: 0 40% 1% 30%;
}

.messages--p{
    margin: 0 10% 0 55%;
}

.div--grow-together{
    background-color: hsl(207, 100%, 98%);
}

.wave-top{
    width: 100%;
    /* background-color: hsl(207, 100%, 98%); */
    background-color: light grey;
}

.grow-together{
    background-color: hsl(207, 100%, 98%);
    display: block;
    height: auto;
    width: 60%;
    margin-left: 20%;
}

.heading--grow{
    background-color:hsl(207, 100%, 98%);
    margin: 10% 20% 1% 30%;
    font-family: 'Poppins';
    font-weight: 700;
}

.p--grow-together{
    background-color: hsl(207, 100%, 98%);
    margin: 2% 15% 10% 18%;
    text-indent: 15px;
    font-size: 16px;
    font-family: 'Open Sans';
    align-items: center;/* fix the spacing on this paragraph*/
}

.flowing{
    height: 20vh;
    margin: 20% 0 0 0;
}

.heading-flowing{
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 20%;
}

.p--flowing{
    font-family: 'Open Sans';
    margin: 5% 15% 30% 13%;
    letter-spacing: 1px;
}

.your-users{
    height: 20vh;
    margin-top: 20%;
}

.heading--your-users{
    margin: 20% 25% 5% 20%;
}

.p--your-users{
    margin: 0 20% 20% 15%;
    font-size: 16px;
    font-family: 'Open Sans';
}

.heading--build{
    margin: 20% 27%;/*fix the centering on this*/
}

.call-to-action-bottom{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:hsl(322, 100%, 66%)solid 2px;
    border-radius: 20px;
    margin: 0 20% 40% 30%;
    padding: 2% 10%;
}

.wave--footer{
    background-image: url(./images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60px;
    min-width: 572px;
}

.wave-bottom{
    /* change color on svg to match */
    width: 100%;
}

.newsletter{
    background: hsl(192, 100%, 9%);
    color: white;
}

.newsletter--h2{
    font-family: 'Poppins';
    font-weight: 400;
}
.newsletter--p{
    background: hsl(192, 100%, 9%);
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 8% 15% 8% 10%;
    letter-spacing: 2px;
}

#button--email{
    margin: 0 10%;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    border: none;
}

.subscribe{
    background:hsl(322, 100%, 66%);
    color: white;
    padding: 3% 10%;
    margin: 5% 25% 20% 54%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

#newsletter--h2{
    color: white;
    font-size: 26px;
    margin: 5% 10%;
    font-family: 'Poppins';
    font-weight: 700;
}

.footer--icon{
    fill: white;
    background: hsl(192, 100%, 9%);
    margin-left: 8%;
}

.company-info-contact{
    background: hsl(192, 100%, 9%);
    color: white;
}

.contact{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
    padding-top: 10%;
}

.phone-icon{
    background:hsl(192, 100%, 9%);
    margin: 0 10%;
}

.phone{
    margin: 0 0 10% 0;
    background:hsl(192, 100%, 9%);
}

.email-icon{
    background: hsl(192, 100%, 9%);
    margin: 0 10%;
}

.email{
    margin: 0 0 10% 0;
}

.md{
    font-size: 2vh;
    margin: 5%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}