/*The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

:root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-dark: hsl(192, 100%, 9%);
    --neutral-pale: hsl(207, 100%, 98%);
    --headings: 900;
    --headings-ff: 'Poppins Bold', sans-serif;
    --body-ff: 'Open Sans', serif;
    --body-weight-400: 400;
    --body-weight-600: 600;
    --body-weight-700: 700;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--headings-ff);
    font-weight: var(--headings);
    padding: 3em;
}

p {
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400);
    padding:  3em 1em;
}

body {
    position: absolute;
    /* text-align: center;  */
}

header {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    /* gap: 70%; */
}

.header-icon {
}


.header-icon-logo {
    flex: 50%;
}

.header--button-try {
    flex: 50%;
    /* padding-left: 50%; */
}

.header-button {
    color: var(--primary-pink);
    border: .1rem solid var(--primary-light-pink);
    border-radius: 4rem;
    padding: .2rem .9rem;
}

.btn {
    background-color: var(--primary-pink);
    color: var(--neutral-pale);
    border: .2em solid var(--primary-pink);
    border-radius: 2rem;
    padding: .6rem 3rem;
}

img {
    max-width: 100%;
}

.icon {
    width: 10%;
}

.div--center-info {
}

h1 {
    padding: 3em .5em;
}

.section--stats {

}

.div--icon-comunities {

}

.div--text-stats {

}

.div--icon-messages {

}

.section--grow {

}

.div--illustration-grow {

}

.div--text-grow {

}

.section--flowing {

}

.div--illustration-flowing {

}

.div--text-flowing {

}

.section--users {

}

.div--illustration-users {

}

.div--text-users {

}

.footer--info {

}

.section--newsletter {

}

.div--newsletter-info {

}

.div--input-subscribe {

}

.section--footer-logo {

}

.div--img-logo {

}

.div--text-logo {

}

.div--text-contact {

}

@media (min-width: 500px) {

    .section--stats {
        display: flex;
    }

    .section--grow {
        display: flex;
    }

    .section--flowing {
        display: flex;
    }

    .section--users {
        display: flex;
    }

}



