
/* TODO:
   clean up css
   fix header button size and spacing of two items, header logo shrinks too small on mobile, button doesn't resize
   fix center paragraph, spacing on desktop is too wide
   fix icons above numbers on desktop
   fix buttons on footer for email and subscribe, make them responsive
   active states on buttons
*/


  /* CSS reset */
  :root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-dark: hsl(192, 100%, 9%);
    --neutral-pale: hsl(207, 100%, 98%);
    --headings: 900;
    --headings-ff: 'Poppins Bold', sans-serif;
    --body-ff: 'Open Sans', serif;
    --body-weight-400: 400;
    --body-weight-600: 600;
    --body-weight-700: 700;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--headings-ff);
    font-weight: var(--headings);
    padding: .5em;
}

h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 900;
    padding-bottom: 5%;
}

p {
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400);
    padding: 0 1em;
}

body {
    position: absolute;
    text-align: center; 
    overflow-x: hidden;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%; /* check this might be min-width */
    padding: 0 2em 0 2em;
}

.icon {
    margin: 0;
    padding: 0;
    max-width: 15%;
}


header {
    color: black;
    display: flex;
    padding-bottom: 23%;
}

.header--icon-logo {
    flex: 1;
}

.header-icon {
    max-width: 100%; 
    margin-top: 1.8em;
}

.header--button-try {
    flex: 1;
    padding-top: 1.8em;
    text-align: right;
    padding-right: 1em;
}

/* redo this for responsive */
/* .header-button {
    font-family: var(--body-ff);
    font-weight: 400;
    color: var(--primary-pink);
    border: .1rem solid var(--primary-light-pink);
    border-radius: 4rem;
    padding: .3rem .9rem;
    letter-spacing: 1px;
    font-size: .2em;
    background-color: #fff;
}   */

.header-button {
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400);
    color: var(--primary-pink);
    border: .1rem solid var(--primary-light-pink);
    border-radius: 4rem;
    padding: 1% 5%;
    letter-spacing: 3em;
    font-size: 2%;
    cursor: pointer;
}

.header-button:hover {
    color: #fff;
    background-color: var(--primary-pink);
}
/* check this on all sizes */
@media (max-width: 400px){

    .header-icon {
        min-width: 120%;
        padding-left: .5em;
    }
}

.btn {
    background-color: var(--primary-pink);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 1em 3em;
    font-family: var(--body-ff);
    font-weight: var(--body-weight-600);
    letter-spacing: .5px;
    /* box-shadow: 2px 8px 10px var(--neutral-pale); check this on good monitor */
    box-shadow: 2px 8px 10px lightgrey;
    margin-top: 3.5em;
    margin-bottom: 5em;
    font-size: 12px;/* convert this to em or rem */
}

.div--center-info {
    text-indent: 8px;
    font-family: var(--body-ff);
    padding-bottom: 12%;
    padding-top: 2%;
}

.section--stats {
    padding-top: 30%;
    padding-bottom: 0;
    margin: 0;
}

.div--text-stats {
    margin: 0;
    padding: 0;
}

.div--icon-communities {
    /* padding-right: 33%; */
    padding-right: 7rem;
}

.h2--messages {
    font-size: 4em;
    padding: 0;
    font-family: var(--body-ff);
    font-weight: var(--headings);
    padding-left: 9%;
}

.div--icon-messages {
    padding-top: 20%;
    padding-bottom: 0;
    padding-right: 7rem;
}

.h2--bold-numbers {
    font-size: 4em;
    padding: 0;
    font-family: var(--body-ff);
    font-weight: var(--headings);
}

.p--text-stats {
    padding-bottom: 2%;
    font-family: var(--body-ff);
    font-weight: 200;
}

.section--grow {
    background-color: var(--neutral-pale);
    padding-top: 20%;
}

.wave {
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    min-width: 100%;
}

.div--text-grow {
    padding-top: 10%;
    padding-bottom: 20%;
}

.section--flowing {
    padding-top: 30%;
    padding-bottom: 25%;
}

.div--text-flowing {
    padding-top: 10%;
}

.section--users {
    background-color: var(--neutral-pale);
}

.div--illustration-users {
    padding-top: 10%;
    padding-bottom: 13%;
}

.div--text-users {
    padding-bottom: 40%;
}

.footer--info {
    padding-top: 8%;
    padding-bottom: 45%;
}

.section--newsletter {
    background-color: var(--neutral-dark);
    color: #fff;
    text-align: left;
    padding-bottom: 28%;
}

.div--newsletter-info {
    padding-top: 15%;
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400); 
    padding-right: 2em;
    padding-left: 1.5em;
}

.h3--newsletter {
    font-family: var(--headings-ff);
    font-weight: var(--body-weight-400);
    padding-bottom: 1em;
    padding-left: 1em;
}

.div--input-email {
    padding-top: 10%;
}

.div--form-wrapper {
    padding-inline: 8%;
}

.input--email {
    font-size: 2.7rem;
    max-width: 85%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 5px;
}

.div--input-subscribe {
   padding-top: 4%;
   text-align: right;
   margin-right: 5%;
}

.button--subscribe {
    border: 1px solid var(--primary-light-pink);
    background-color: var(--primary-pink);
    color: #fff;
    padding: 1em 3em;
    border-radius: 5px;
    letter-spacing: 1px;
}

.section--footer-logo {
    background-color: var(--neutral-dark);
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: left;
}

.div--img-logo {
    padding-bottom: 3%;
}

.div--text-logo {
    padding-left: 3%;
}

.div--text-contact {
    padding-top: 12%;
}

.div--contact-phone {
    padding-bottom: 7%;
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400);
}

.div--contact-email {
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400);
    padding-bottom: 10%;
}

.div--social-icons {
    padding-left: 8%;
    padding-bottom: 10%;
    font-size: 1.8em;
}

/* Spacing for social media icons */
.md {
    padding-right: 3%;
}

.attribution {
    background-color: var(--neutral-dark);
    font-size: 11px;
    text-align: center;
    color: white;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}


@media (min-width: 630px) { /* try 540px  from 530 to 650 is wrong */

    .icon {
        max-width: 100%;
    }

    p {
        padding-inline: 15%;
    }

    .div--center-info {
        padding-inline: 30%;
    }

    .header--button-try {
        padding-right: 3rem;
        padding-top: 4.5rem;
    }

    .header--icon-logo {
        padding-top: 4.0625rem;
        text-align: left;
    }

    .header-icon {
        padding-top: 0;
        margin-top: 0;
        padding-left: 3rem;
    }

       .section--stats {
        display: flex;
        flex-direction: row;
        /* gap: 3rem; */
        align-items: baseline;
        /* flex-wrap: wrap; */
    }

    .section--grow {
        display: flex;
        flex-direction: row-reverse;
    }

    .section--flowing {
        display: flex;
        flex-direction: row;
    }

    .section--users {
        display: flex;
        flex-direction: row-reverse;
    }

    .div--text-users {
        padding-top: 20%;
        padding-inline: 4em;/* check this on all paragraphs */
    }

    .div--company-info {
        display: flex;
        flex-direction: row-reverse;
        background-color: var(--neutral-dark);
    }

    .wave {
        display: block;
    }

    .div--newsletter-info {
        padding-top: 0;
        background-color: var(--neutral-dark);
    }

    .div--form-wrapper {
        display: flex;
    }

    .p--text {
        padding-left: 1em;
        padding-right: 50%;
    }
      /* fix all this */
    .div--input-email {
        max-width: 50%;
        /* padding-left: .9em; */
    }

    .input--email {
        margin: 0;
    }

    .div--input-subscribe {
        margin: 0;
        padding-top: 10%;
    }

    .button--subscribe {
    }

    .section--footer-logo {
    }
    /* still showing white line on top of div on 412 width, 820, 768 width*/
    .section--newsletter {
        background-color: var(--neutral-dark);
        padding: 0;
        max-width: 50%;
    }


}