/*mobile design*/
/*width 375px*/
/*TODO 
   think about using sass 
   clean up css
   use naming conventions (BEM)
   add backgorund svgs to icons and illustrations
  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 35%;
    border: 2px solid black;
    background: white;
}

#btn-wrapper{
    flex: 50%;
}

.icon{
    margin: 20% 0 20% 15%;
    width: 80%;
}

#icon-wrapper{
    flex: 50%;
}

header{
    color: black;
    display: flex;
    flex-direction: row;
    margin-right: 40%;
}

.btn{
    border-radius: 20px;
    margin: 15% 0 20% 140%;
    color: hsl(322, 100%, 66%);
    border: hsl(322, 100%, 66%) solid 2px;
    padding: 5% 20%;
}

.info{
    margin: 5% 12% 0 14%;
    text-indent: 20px;
    align-items: center;
    font-size: 18px;
    font-family: 'Open Sans';
}

h1{
    margin: 20% 15% 0 15%;
    font-family: 'Poppins';
}

p{
    margin: 2% 2%;
}

.call-to-action{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border:hsl(322, 100%, 66%)solid 2px;
    border-radius: 20px;
    margin: 10% 40%;
    padding: 2% 6%;
}

.screen-mockups{
    height: 20vh;
}

.grow-together{
    height: 20vh;
}

.flowing{
    height: 20vh;
}

.your-users{
    height: 20vh;
}

.wave{
    background-image: url(./images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 5.9vh;
    width: 100%;/*fix for bg color*/
    padding: 0;
}

.newsletter{
    background: hsl(192, 100%, 9%);
    color: white;
}
.newsletter--p{
    background: hsl(192, 100%, 9%);
    color: white;
    margin: 4% 6%;
}

#button--email{
    margin: 0 10%;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    border: none;
}

.subscribe{
    background:hsl(322, 100%, 66%);
    color: white;
    padding: 3% 8%;
    margin: 5% 10% 5% 58%;
    border-radius: 10px;
    border: none;
}

#newsletter--h2{
    color: white;
    font-size: 26px;
    margin: 5% 10%;
}

.footer--icon{
    fill: white;
    background: hsl(192, 100%, 9%);
}

.company-info-contact{
    background: hsl(192, 100%, 9%);
    color: white;
}

.contact{
    background: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
    padding-top: 10%;
}

.phone-icon{
    background:hsl(192, 100%, 9%);
    margin: 0 10%;
}

.phone{
    margin: 0 0 10% 0;
    background:hsl(192, 100%, 9%);
}

.email-icon{
    background: hsl(192, 100%, 9%);
    margin: 0 10%;
}

.email{
    margin: 0 0 10% 0;
}

.md{
    font-size: 2vh;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}