/*mobile design*/
/*width 375px*/
/*TODO 
   clean up css
   use naming conventions (BEM)
  */

  :root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);
    --neutral-dark: hsl(192, 100%, 9%);
    --neutral-pale: hsl(207, 100%, 98%);
    --headings: 900;
    --headings-ff: 'Poppins Bold', sans-serif;
    --body-ff: 'Open Sans', serif;
    --body-weight-400: 400;
    --body-weight-600: 600;
    --body-weight-700: 700;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--headings-ff);
    font-weight: var(--headings);
    padding: .5em;
}

p {
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400);
    padding: 0 1em;
}

body {
    position: absolute;
    text-align: center; 
    overflow-x: hidden;
    width: 100%;
}

main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    padding: 0 2em 0 2em;
}

.icon {
    margin: 0;
    padding: 0;
    margin-right: 33%;
    /* max-width: 10%; */
    max-width: 8%;
}


header {
    color: black;
    display: flex;
    padding-bottom: 23%;
}

.header--icon-logo {
    margin: 0;
    padding: 0;
    flex: 1;
}

.header-icon {
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1.8em;
}

.header--button-try {
    flex: 1;
    padding-top: 1em;
}

.header-button {
     font-family: var(--body-ff);
    font-weight: 400;
    color: var(--primary-pink);
    border: .1rem solid var(--primary-light-pink);
    border-radius: 4rem;
    padding: .2rem .9rem;
    font-size: .2em;
}

.btn {
    background-color: var(--primary-pink);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 1em 3em;
    font-family: var(--body-ff);
    font-weight: var(--body-weight-600);
    letter-spacing: .5px;
    /* box-shadow: 2px 8px 10px var(--neutral-pale); check this on good monitor */
    box-shadow: 2px 8px 10px lightgrey;
    margin-top: 3.5em;
    margin-bottom: 5em;
    font-size: 12px;/* convert this to em or rem */
}

.div--center-info {
    text-indent: 8px;
    font-family: var(--body-ff);
    padding-bottom: 7%;
}

.section--stats {
    padding-top: 30%;
    padding-bottom: 0;
    margin: 0;
}

.div--icon-comunities {

}

.div--text-stats {
    margin: 0;
    padding: 0;
}

.h2--messages {
    font-size: 4em;
    padding: 0;
    font-family: var(--body-ff);
    font-weight: var(--headings);
    padding-left: 9%;
}

.div--icon-messages {
    padding-top: 20%;
    padding-bottom: 0;
}

.h2--bold-numbers {
    font-size: 4em;
    padding: 0;
    font-family: var(--body-ff);
    font-weight: var(--headings);
}

.p--text-stats {
    padding-bottom: 2%;
    font-family: var(--body-ff);
    font-weight: 200;
}

.section--grow {
    background-color: var(--neutral-pale);
    padding-top: 20%;
}

.wave {
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    max-width: 100%;
}

.div--illustration-grow {
}

.div--text-grow {
    padding-top: 10%;
    padding-bottom: 20%;
}

.section--flowing {
    padding-top: 30%;
    padding-bottom: 25%;
}

.div--illustration-flowing {

}

.div--text-flowing {
    padding-top: 10%;
}

.section--users {
    background-color: var(--neutral-pale);
}

.div--illustration-users {
    padding-top: 10%;
    padding-bottom: 13%;
}

.div--text-users {
    padding-bottom: 40%;
}

.footer--info {
    padding-top: 8%;
    padding-bottom: 45%;
}

.section--newsletter {
    background-color: var(--neutral-dark);
    color: #fff;
    text-align: left;
}

.div--newsletter-info {
    padding-top: 20%;
    font-family: var(--body-ff);
    font-weight: var(--body-weight-400); 
    padding-right: 2em;
    padding-left: 1.5em;
}

.h3--newsletter {
    font-family: var(--headings-ff);
    font-weight: var(--body-weight-400);
    padding-bottom: 1em;
    padding-left: 1em;
}

.div--input-email {
    padding-top: 10%;
}

.input--email {
    font-size: 2.7rem;
    max-width: 85%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 5px;
}

.div--input-subscribe {
   padding-top: 4%;
   text-align: right;
   margin-right: 6%;
}

.button--subscribe {
    border: 1px solid var(--primary-light-pink);
    background-color: var(--primary-pink);
    color: #fff;
    padding: 1em 3.8em;
    border-radius: 5px;
    letter-spacing: 1px;
}

.section--footer-logo {
    background-color: var(--neutral-dark);
    color: #fff;
}

.div--img-logo {
}

.div--text-logo {

}

.div--text-contact {

}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
 }

.attribution a {
     color: hsl(228, 45%, 44%); 
}


@media (min-width: 500px) {

    .section--stats {
        display: flex;
    }

    .section--grow {
        display: flex;
    }

    .section--flowing {
        display: flex;
    }

    .section--users {
        display: flex;
    }

}